body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 300px;
    width: 100%;
}

h1 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"], button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #636262;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

p {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}
